<div class="row">
  <div class="col-2">
    <ul class="left" data-dropdown-menu style="max-width: 250px;">
      <a><%= link_to "Event", admin_events_path, class: "nav-link2 active"%></a>
      <a><%= link_to "Locations", admin_locations_path, class: "nav-link2"%></a>
      <a><%= link_to "Attendes", admin_attendees_path, class: "nav-link2"%></a>
      <a><%= link_to "Profiles", admin_profiles_path, class: "nav-link2"%></a>
      <a><%= link_to "Teams", admin_teams_path, class: "nav-link2"%></a>
      <a><%= link_to "Users", admin_users_path, class: "nav-link2"%></a>
      <a><%= link_to "Badge", admin_badges_path, class: "nav-link2"%></a>
      <a><%= link_to "Notification", admin_notifications_path, class: "nav-link2"%></a>
    </ul>
  </div>
  <div class="col-10">
    <h1 class="hbigger">Notification</h1>
  </div>
</div>

<div class="container">
<div class = 'row'>
<div class="col-sm-4 offset-sm-1">
  <a><%= link_to "New Notification", new_admin_notification_path, class: "btn btn-primary btn-block"%></a>
</div>
<table class='table'>
  <thead>
    <tr>
      <th width="150"> <%= link_to "Id", admin_notifications_path(order:"id"), class: "category" %></th>
      <th width="150">  <%= link_to "Name", admin_notifications_path(order:"name"), class: "category" %></th>
      <th width="150"> Message </th>
      <th width="150"> Edit </th>
      <th width="150"> Delete </th>
    </tr>
  </thead>
  <% @notifications.each do |notification|%>
  <tbody>
    <tr>
      <td><%= notification.id%></td>
      <td><%= notification.badge.attendee.user.name%></td>
      <td><%= notification.message_sent%></td>
      <td><%= link_to "Edit", edit_admin_notification_path(id: notification.id), class: "category" %></td>
      <td><%= link_to 'Delete',{ action: :destroy, id: notification.id }, method: :delete , data: { confirm: 'Are you sure?' }, class: "category" %></td>
    </tr>
  </tbody>
  <%end%>
</table>
</div>
</div>
