<ul class="vertical dropdown menu" data-dropdown-menu style="max-width: 250px;">
  <li><%= link_to "Event", admin_events_path, class: "category"%></li>
  <li><%= link_to "Attendes", admin_attendees_path, class: "category"%></li>
  <li><%= link_to "Profiles", admin_profiles_path, class: "category"%></li>
  <li><%= link_to "Teams", admin_teams_path, class: "category"%></li>
  <li><%= link_to "Users", admin_users_path, class: "category"%></li>
  <li><%= link_to "reviews", admin_reviews_path, class: "category"%></li>
  <li><%= link_to "Badge", admin_badges_path, class: "category"%></li>
</ul>

<div class = 'row'>
  <table class='stack'>
    <thead>
      <tr>
        <th width="300"> Name</th>
        <th width="150"> Date </th>
        <th width="150"> Total</th>
        <th width="150"> link</th>
      </tr>
    </thead>

    <% @events.each do |event|%>
    <tbody>
      <tr>
        <td><%= event.id%></td>
        <td><%= event.name%></td>
        <td><%= link_to "Edit", edit_admin_event_path(id: event.id), class: "category" %></td>
        <td><%= link_to 'Delete',{ action: :destroy, id: event.id }, method: :delete , data: { confirm: 'Are you sure?' }, class: "category" %></td>
      </tr>
    </tbody>
    <%end%>
  </table>
</div>
