<%= form_for [:admin, @badge], html: { class: "form" } do |f| %>
<% if @badge.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@badge.errors.count, "error") %> prohibited this article from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @badge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

  <div class="form-group">
    <%= f.label :attendee_id %>
    <div class="col-lg-10">
        <%= f.collection_select :attendee_id, Attendee.all, :id, :names, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
  <%= f.label :message %>
  <div class="col-lg-10">
    <%= f.select(:message, Badge.messages.keys.map {|messages| [messages.titleize,messages]})  %>
  </div>
  <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, class: 'btn btn-primary' %>
        <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  admin_badges_path, class: 'btn btn-default' %>
      </div>
    </div>
<% end %>
