<%= form_for [:admin, @badge], html: { class: "form" } do |f| %>
<% if @badge.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@badge.errors.count, "error") %> prohibited this article from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @badge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Events
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% @events.each do |event|%>
      <li><a><%= link_to event.name, new_admin_badge_path(event_id: event.id), class: "category" %></a></li>
    <%end%>
  </ul>
</div>

  <div class="form-group">
    <%= f.label :attendee_id %>
    <div class="col-lg-10">
        <%= f.collection_select :attendee_id, @attendees, :id, :names, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, class: 'btn btn-primary' %>
        <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  admin_badges_path, class: 'btn btn-default' %>
      </div>
    </div>
<% end %>
