<ul class="vertical dropdown menu" data-dropdown-menu style="max-width: 250px;">
  <li><%= link_to "Event", admin_events_path, class: "category"%></li>
  <li><%= link_to "Attendes", admin_attendees_path, class: "category"%></li>
  <li><%= link_to "Profiles", admin_profiles_path, class: "category"%></li>
  <li><%= link_to "Teams", admin_teams_path, class: "category"%></li>
  <li><%= link_to "Users", admin_users_path, class: "category"%></li>
  <li><%= link_to "reviews", admin_reviews_path, class: "category"%></li>
  <li><%= link_to "Badge", admin_badges_path, class: "category"%></li>
</ul>

<div class = 'row'>
  <table class='stack'>
    <thead>
      <tr>
        <th width="300"> Id</th>
        <th width="150"> Name </th>
        <th width="150"> Edit </th>
        <th width="150"> Delete </th>
      </tr>
    </thead>
    <% @profiles.each do |profile|%>
    <tbody>
      <tr>
        <td><%= profile.id%></td>
        <td><%= profile.name%></td>
        <td><%= link_to "Edit", edit_admin_profile_path(id: profile.id), class: "category" %></td>
        <td><%= link_to 'Delete',{ action: :destroy, id: profile.id }, method: :delete , data: { confirm: 'Are you sure?' }, class: "category" %></td>
      </tr>
    </tbody>
    <%end%>
  </table>
</div>
