<div class="row">
  <div class="col-2 left">
    <ul>
      <a><%= link_to "Event", admin_events_path, class: "nav-link2 active"%></a>
      <a><%= link_to "Locations", admin_locations_path, class: "nav-link2"%></a>
      <a><%= link_to "Attendes", admin_attendees_path, class: "nav-link2"%></a>
      <a><%= link_to "Profiles", admin_profiles_path, class: "nav-link2"%></a>
      <a><%= link_to "Teams", admin_teams_path, class: "nav-link2"%></a>
      <a><%= link_to "Users", admin_users_path, class: "nav-link2"%></a>
      <a><%= link_to "Badge", admin_badges_path, class: "nav-link2"%></a>
    </ul>
</div>
<div class="col-10">
  <h1 class="hbigger">Attendee</h1>
</div>
<div class="container">
  <div class = 'row'>
    <div class="col-sm-4 offset-sm-1">
  <%= link_to "NEW", new_admin_attendee_path, class: "btn btn-primary btn-block" %>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th width="300"> Id</th>
        <th width="150"> Name </th>
        <th width="150"> Edit </th>
        <th width="150"> Delete </th>
      </tr>
    </thead>
    <% @attendees.each do |attendee|%>
    <tbody>
      <tr>
        <td><%= attendee.id%></td>
        <td><%= User.find(attendee.user_id).name%></td>
        <td><%= link_to "Edit", edit_admin_attendee_path(id: attendee.id), class: "category" %></td>
        <td><%= link_to 'Delete',{ action: :destroy, id: attendee.id }, method: :delete , data: { confirm: 'Are you sure?' }, class: "category" %></td>
      </tr>
    </tbody>
    <%end%>
  </table>
</div>
