  <div class="row">
    <div class="col-2">
      <ul class="w3-sidebar w3-bar-block" data-dropdown-menu style="max-width: 250px;">
        <a><%= link_to "Event", admin_events_path, class: "w3-bar-item w3-button"%></a>
        <a><%= link_to "Locations", admin_locations_path, class: "nav-link2"%></a>
        <a><%= link_to "Attendes", admin_attendees_path, class: "nav-link2"%></a>
        <a><%= link_to "Profiles", admin_profiles_path, class: "nav-link2"%></a>
        <a><%= link_to "Teams", admin_teams_path, class: "nav-link2"%></a>
        <a><%= link_to "Users", admin_users_path, class: "nav-link2"%></a>
        <a><%= link_to "Badge", admin_badges_path, class: "nav-link2"%></a>
      </ul>
    </div>
    <div class="col-10">
      <h1 class="hbigger">User</h1>
    </div>
  </div>

<div class="container">
<div class = 'row'>
  <div class="col-sm-4 offset-sm-1">
    <a><%= link_to "New User", new_admin_user_path, class: "btn btn-primary btn-block"%></a>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th width="150"><%= link_to "Id", admin_users_path(order:"id"), class: "category" %></th></th>
        <th width="150"><%= link_to "Name", admin_users_path(order:"name"), class: "category" %></th>
        <th width="150"><%= link_to "Email", admin_users_path(order:"email"), class: "category" %></th> </th>
        <th width="150"> Edit </th>
        <th width="150"> Delete </th>
      </tr>
    </thead>
    <% @users.each do |user|%>
    <tbody>
      <tr>
        <td><%= user.id%></td>
        <td><%= user.name%></td>
        <td><%= user.email%></td>
        <td><%= link_to "Edit", edit_admin_user_path(id: user.id), class: "category" %></td>
        <td><%= link_to 'Delete',{ action: :destroy, id: user.id }, method: :delete , data: { confirm: 'Are you sure?' }, class: "category" %></td>
      </tr>
    </tbody>
    <%end%>
  </table>
</div>
</div>
